<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <%- include('partials/formTask') %>
    <%- include('partials/profileInfo', {
        nombre: nombre,
        apellido: apellido,
        usuario: usuario,
        f_nacimiento: f_nacimiento,
        correo: correo,
        genero: genero
    }) %>
</body>
</html>